{% extends 'SoftUniBundle::base.html.twig' %}

{% block body %}
    <h2 class="sub-header">Create Product Category</h2>

    {{ include('SoftUniBundle:productcategory:form.html.twig', {'buttonLabel': 'Create'}) }}

    <ul>
        <li>
            <a href="{{ path('admin_product-category_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
