{% extends 'SoftUniBundle::base.html.twig' %}

{% block body %}

    <h2 class="sub-header">Individual project for the Symfony 3 course @ SoftUni</h2>

    <p><a href="https://github.com/plamen911/softuni-symfony-basics" target="_blank">GitHub</a> </p>

{% endblock %}
